{%extends 'base.tmpl'%}

{%block content%}
<table border="1"> 
   <tr><td>"Ще</td><td>не</td><td>вмерла</td><td>України</td></tr> 
   <tr><td>і</td><td>слава,</td><td>і</td><td>воля,</td></tr> 
   <tr><td>Ще</td><td>нам,</td><td>браття</td><td>молодії,</td></tr> 
   <tr><td>усміхнеться</td><td>доля.</td><td>Згинуть</td><td>наші</td></tr> 
   <tr><td>воріженьки,</td><td>як</td><td>роса</td><td>на</td></tr> 
   <tr><td>сонці.</td><td>Запануєм</td><td>і</td><td>ми,</td></tr> 
   <tr><td>браття,</td><td>у</td><td>своїй</td><td>сторонці.</td></tr> 
   <tr><td>Душу</td><td>й</td><td>тіло</td><td>ми</td></tr> 
   <tr><td>положим</td><td>за</td><td>нашу</td><td>свободу,</td></tr> 
   <tr><td>І</td><td>покажем,</td><td>що</td><td>ми,</td></tr> 
   <tr><td>браття,</td><td>козацького</td><td>роду".</td>
  </table>
{%endblock content%}