<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Двухсот тысячный сайт уже готов, и еще миллион на подходе</title>
 <link rel="stylesheet" href="{{style}}">
 </head>
 <body>
  <div id="container">
   <div id="header">Наш (НЕ)первый сайт
   </div>
   <div id="menu">
    <p><a href="index.php">Цент помощи центрам помощи</a></p>
    <p><a href="lab1-1.php">lab1-1</a></p>
    <p><a href="lab1-2.php">lab1-2</a></p>
    <p><a href="lab1-3.php">lab1-3</a></p>
    <p><a href="lab1-4.php">lab1-4</a></p>
    <p><a href="lab1-5.php">lab1-5</a></p>
   </div>
   <div id="content">
    {% block content %}

    {% endblock content %}
   </div>
   <div id="footer">&#x1f1fa;&#x1f1e6;
   </div>
  </div>
 </body>
</html>	
	