{%extends 'base.tmpl'%}

{%block content%}
<ul> 
 <li> Ще не вмерла Україна, і слава, і воля,
Ще нам, браття молодії, усміхнеться доля. </li>
 <li> Згинуть наші вороженьки, як роса на сонці,
Запануєм і ми, браття, у своїй сторонці. </li> 
 <li> Душу, тіло ми положим за нашу свободу.
І покажем, що ми, браття, козацького роду. </li> 
 <li> Станем, браття, в бій кровавий від Сяну до Дону
В ріднім краю панувати не дамо нікому; </li> 
 <li> Чорне море ще всміхнеться, дід Дніпро зрадіє,
Ще у нашій Україні доленька наспіє. </li> 
 <li> Душу, тіло ми положим за нашу свободу.
І покажем, що ми, браття, козацького роду. </li> 
 <li> А завзяття, праця щира свого ще докаже,
Ще ся волі в Україні піснь гучна розляже, </li> 
 <li> За Карпати відоб'ється, згомонить степами,
України слава стане поміж народами. </li> 
 <li> Душу, тіло ми положим за нашу свободу.
І покажем, що ми, браття, козацького роду. </li>  
</ul>
<ol>
  <li> "Ще не вмерла України** і слава, і воля,
Ще нам, браття молодії, усміхнеться доля. </li>
  <li> Згинуть наші воріженьки, як роса на сонці.
Запануєм і ми, браття, у своїй сторонці. </li>
  <li> Душу й тіло ми положим за нашу свободу,
І покажем, що ми, браття, козацького роду". </li>
</ol>
<img src="1.png">
{%endblock content%}