{%extends 'base.tmpl'%}

{%block content%}
<table  border="2"> 
   <tr><td><h6>Дистрофики очень забавны, а при <p> сильном ветре они вообще улетные!</p></h6></td><td> <h6> Лучше быть известным пьяницей,<p> чем анонимным алкоголиком...</p></h6></td><td><h6>Школьник прогуливал уроки на стройке<p>и к концу 5 класса уже стал прорабом.</p></h6></td><td><h6>-Вы что, художник?<p>-Нет, я просто с похмелья</p></h6></td></tr> 
   <tr><td><h6>Весь мир - арифметика, а ты<p>в ней пытаешься поделить на ноль.</p></h6></td><td><h6>После того как закрутил гайки,<p>можно забивать болт.</p></h6> </td><td><h6>Если всё идет хорошо,<p>значит вы что-то не учли.</p></h6></td><td><h6>Хипстер так сильно подвернул джинсы,<p>что даже его парень удивился</p></h6> </td></tr>
  </table>
{%endblock content%}