{%extends 'base.tmpl'%}

{%block content%}
<h1> Ще не вмерла України, ні слава, ні воля,
Ще нам, браття молодії, усміхнеться доля! </h1>
<h2> Згинуть наші вороженьки, як роса на сонці,
Запануєм і ми, браття, у своїй сторонці. </h2>
<p> Душу, тіло ми положим за нашу свободу.
І покажем, що ми, браття, козацького роду. </p>
<h3> Станем, браття, в бій кровавий від Сяну до Дону
В ріднім краю панувати не дамо нікому; </h3>
<h4> Чорне море ще всміхнеться, дід Дніпро зрадіє,
Ще у нашій Україні доленька наспіє. </h4>
<p> Душу, тіло ми положим за нашу свободу.
І покажем, що ми, браття, козацького роду. </p>
<h5> А завзяття, праця щира свого ще докаже,
Ще ся волі в Україні піснь гучна розляже, </h5>
<h6> За Карпати відоб'ється, згомонить степами,
України слава стане поміж народами. </h6>
<p> Душу, тіло ми положим за нашу свободу.
І покажем, що ми, браття, козацького роду. </p>
{%endblock content%}